<button
    x-data
    class="flex items-center gap-2 justify-center px-5 py-2.5 border border-gray-200 bg-white transition-shadow duration-300 ease-in-out rounded-full lg:hidden shadow-gray-700/5 text-gray-700 z-40 {{ classes }}"
    :class="$store.mobileMenu.open ? 'shadow-none' : 'shadow-md'"
    @click="$store.mobileMenu.toggle()"
>
    <div
        class="grid w-[20px] h-[20px] grid-cols-1 grid-rows-1 items-center justify-center relative"
    >
        <span
            class="absolute inset-0 flex items-center justify-center"
            x-show="!$store.mobileMenu.open"
        >
            <i class="block ph ph-list !leading-none"></i>
        </span>
        <span
            class="absolute inset-0 flex items-center justify-center"
            x-show="$store.mobileMenu.open"
        >
            <i class="block ph ph-x !leading-none"></i>
        </span>
    </div>
    <span class="text-sm font-medium leading-none text-gray-700">
        {{ website:mobile_menu_label }}
    </span>
    <span class="sr-only">
        {{ website:mobile_menu_label }}
    </span>
</button>
