{{ partial:components/frame }}
    <div class="container max-w-screen-md">
        {{ if faq_items_block_title || faq_items_block_text }}
            {{ partial:components/set_header :header_title="faq_items_block_title" :header_intro="faq_items_block_intro" }}
        {{ /if }}
        <div class="flex flex-col gap-8 mt-8 lg:gap-10">
            {{ faq_items_block_faq_section }}
                <div>
                    {{ partial:typography/heading as="h2" classes="!mb-2" }}
                        {{ faq_section_title }}
                    {{ /partial:typography/heading }}
                    {{ faq_section_items }}
                        {{ partial:components/faq_item }}
                    {{ /faq_section_items }}
                </div>
            {{ /faq_items_block_faq_section }}
        </div>
    </div>
{{ /partial:components/frame }}
