{{ partial:components/frame }}
    <div class="container">
        <div
            class="container grid grid-cols-1 lg:grid-cols-2 gap-x-12 gap-y-12 lg:items-center"
        >
            <div
                class="{{ if image_alignment == "image-right" }} lg:order-1 {{ /if }}"
            >
                {{ partial:components/form :form="form_block_form" :submit_label="form_block_submit_label" :redirect_url="form_block_redirect_url" }}
            </div>
            <div class="flex flex-col gap-6">
                {{ partial:components/rich_text :rich_text="form_block_rich_text" :redirect_url="form_block_redirect_url" }}
            </div>
        </div>
    </div>
{{ /partial:components/frame }}
