<header class="sticky top-0 flex items-center bg-white h-[72px] lg:py-4 z-20">
    <div
        class="flex items-center justify-between w-full lg:container max-xl:px-5"
    >
        <div class="flex items-center gap-24">
            {{ partial:components/logo }}
            {{ partial:navigation/desktop }}
        </div>

        <div class="flex gap-2 lg:gap-4">
            {{ partial:components/search_toggle }}
            {{ partial:components/mobile_menu_toggle }}
            {{ partial:components/button label="Call to action" variant="primary" classes="hidden lg:block" }}
        </div>
    </div>
</header>
