<footer class="text-gray-200 xl:text-base">
    <div class="bg-gray-800">
        <div
            class="container flex flex-col py-12 gap-y-8 md:grid md:grid-cols-3 gap-x-8 lg:grid-cols-4 lg:py-16"
        >
            <div class="lg:col-span-2">
                {{ partial:components/logo classes="text-gray-200" }}
            </div>
            <div>
                {{ partial:navigation/quick_links }}
            </div>
            <div>
                {{ partial:components/company_info_list }}
            </div>
        </div>
    </div>

    <div class="bg-gray-900">
        <div
            class="container flex flex-col justify-between gap-2 py-6 lg:items-center lg:flex-row"
        >
            <span class="text-sm text-gray-400">
                {{ website:copyright_text }}
            </span>

            {{ partial:navigation/footer_links }}
            <span class="text-sm text-gray-400">
                Website gemaakt door
                <a
                    href="https://sjoerdstottelaar.nl"
                    title="Website door Sjoerd Stottelaar"
                    class="hover:text-gray-200"
                >
                    Sjoerd Stottelaar
                </a>
            </span>
        </div>
    </div>
</footer>
