<nav class="flex flex-col gap-2 text-shade-200/80">
    {{ if company_info:company_name }}
        <span class="font-medium text-shade-200">
            {{ company_info:company_name }}
        </span>
    {{ /if }}
    {{ if company_info:address_line_1 }}
        <span>
            {{ company_info:address_line_1 }}
        </span>
    {{ /if }}
    {{ if company_info:address_line_2 }}
        <span>
            {{ company_info:address_line_2 }}
        </span>
    {{ /if }}
    {{ if company_info:chamber_of_commerce }}
        <span>
            {{ trans key="Chamber of commerce" }}
            {{ company_info:chamber_of_commerce }}
        </span>
    {{ /if }}
    {{ if company_info:phone }}
        <span class="flex items-center gap-2">
            {{ partial:components/icon icon="phone" }}
            <a
                href="tel:{{ company_info:phone_number:country_code }}{{ company_info:phone_number:phone_number }}"
            >
                {{ company_info:phone }}
            </a>
        </span>
    {{ /if }}
    {{ if company_info:email }}
        <span class="flex items-center gap-2">
            {{ partial:components/icon icon="paper-plane-tilt" }}
            <a href="mailto:{{ company_info:email | obfuscate_email }}">
                {{ company_info:email | obfuscate_email }}
            </a>
        </span>
    {{ /if }}
</nav>
