<div
    class="flex flex-col py-6 border-b border-shade-200 last:border-b-0"
    x-data="{ isOpen: false }"
    x-id="['faq-item']"
>
    <button
        type="button"
        class="flex items-center justify-between w-full text-left cursor-pointer"
        :aria-expanded="isOpen"
        :aria-controls="$id('faq-item')"
        :id="$id('faq-item') + '-button'"
        @click="isOpen = !isOpen"
        @keydown.enter.prevent="isOpen = !isOpen"
        @keydown.space.prevent="isOpen = !isOpen"
    >
        <h3 class="font-medium plain">
            {{ question }}
        </h3>

        <div
            :class="{ 'scale-y-[-1]': isOpen }"
            class="motion-safe:transition-transform"
        >
            {{ partial:components/icon icon="caret-down" }}
        </div>
    </button>

    <div
        :id="$id('faq-item')"
        role="region"
        :aria-labelledby="$id('faq-item') + '-button'"
        x-show="isOpen"
        x-collapse
        x-cloak
    >
        <article class="mt-4 prose prose-shade max-w-none">
            {{ answer }}
        </article>
    </div>
</div>
