{{ form :handle="form:handle" class="flex flex-col gap-6" :redirect="redirect_url" }}
    {{ fields }}
        <div class="flex flex-col gap-2">
            <label class="block font-medium">
                {{ trans :key="display" }}
                {{ if validate | contains:required }}
                    *
                {{ /if }}
            </label>
            <div class="flex flex-wrap gap-3">
                {{ field }}
            </div>
        </div>
    {{ /fields }}
    {{ captcha data-theme="light" hidelogo="true" hidefooter="true" }}
    <div class="flex flex-wrap gap-4 max-md:justify-center">
        {{ partial:components/button :label="submit_label" as="button" variant="primary" icon="paper-plane-tilt" alignment="right" classes="max-md:w-full" id="submit_button" disabled="true" }}
    </div>
{{ /form }}
{{ section:header_scripts }}
    {{ captcha:head }}
    <script
        src="https://cdn.jsdelivr.net/gh/altcha-org/altcha/dist_i18n/nl.min.js"
        type="module"
    ></script>
{{ /section:header_scripts }}
{{ section:footer_scripts }}
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const altchaWidgetElement = document.querySelector("altcha-widget");
            const submitButton = document.getElementById("submit_button");

            altchaWidgetElement.addEventListener("statechange", (ev) => {
                if (ev.detail.state === "verified") {
                    submitButton.disabled = false;
                }
            });
        });
    </script>
{{ /section:footer_scripts }}
