<article class="flex flex-col">
    {{ if teaser_image }}
        <a href="{{ url }}" class="block mb-5" title="{{ title }}">
            <img
                src="{{ glide:teaser_image width="400" height="260" dpr="2" }}"
                alt="{{ teaser_image:alt or title }}"
                width="400"
                height="260"
                loading="lazy"
                decoding="async"
                class="block rounded-lg"
            />
        </a>
    {{ /if }}
    {{ if news_tags || date }}
        <div class="flex flex-wrap items-center gap-4 mb-4">
            {{ if news_tags }}
                <div class="flex gap-2">
                    {{ news_tags }}
                        {{ partial:components/badge }}
                            {{ title }}
                        {{ /partial:components/badge }}
                    {{ /news_tags }}
                </div>
            {{ /if }}
            {{ if date }}
                <span class="block text-sm text-shade-600">
                    {{ date iso_format="dddd d MMMM Y" }}
                </span>
            {{ /if }}
        </div>
    {{ /if }}
    <a href="{{ url }}" class="block group" title="{{ title }}">
        <h2 class="text-xl font-semibold lg:text-2xl leading-snug group-hover:text-primary transition-colors">
            {{ title }}
        </h2>
    </a>
    {{ if teaser_text }}
        <aside class="mt-3 article line-clamp-3 text-shade-700 leading-relaxed">
            <p>
                {{ teaser_text }}
            </p>
        </aside>
    {{ /if }}
</article>
