<button
    x-data
    class="z-40 flex items-center justify-center gap-2 px-3 py-3 text-shade-700 bg-white rounded-lg hover:bg-shade-100"
    @click="$store.searchOverlay.toggle()"
>
    <div
        class="grid w-[20px] h-[20px] grid-cols-1 grid-rows-1 items-center justify-center relative"
    >
        <span
            class="absolute inset-0 flex items-center justify-center"
            x-show="!$store.searchOverlay.open"
        >
            {{ partial:components/icon icon="magnifying-glass" classes="text-lg leading-none!" }}
        </span>
        <span
            class="absolute inset-0 flex items-center justify-center"
            x-show="$store.searchOverlay.open"
        >
            {{ partial:components/icon icon="x" classes="text-lg leading-none!" }}
        </span>
    </div>
</button>
