<div
    class="fixed inset-0 z-50 flex justify-center w-full pointer-events-none lg:pt-24"
    x-data="search"
    x-cloak
    x-show="$store.searchOverlay.open"
>
    <div
        class="self-start w-full bg-white shadow-xl pointer-events-auto rounded-b-xl lg:rounded-lg lg:w-1/2 lg:max-w-xl"
        x-transition.origin.top.duration.300ms
        x-show="$store.searchOverlay.open"
        x-trap="$store.searchOverlay.open"
        x-effect="if ($store.searchOverlay.open) $nextTick(() => { $refs.searchInput.focus() })"
    >
        <div
            class="relative flex items-center justify-between px-5 py-2 border-b border-shade-200"
        >
            <span class="font-medium">
                {{ trans key="Search in website" }}
            </span>

            <button
                @touchstart="$store.searchOverlay.open = false"
                @mousedown="$store.searchOverlay.open = false"
                class="flex items-center justify-center w-10 h-10 rounded-full hover:bg-shade-50"
            >
                {{ partial:components/icon icon="x" classes="block leading-none!" }}
            </button>
        </div>

        <div class="px-5 py-5 lg:px-5">
            <div class="relative">
                <input
                    type="search"
                    name="search"
                    x-model="search"
                    placeholder="{{ trans key='Search' }}"
                    class="w-full py-2 border border-gray-300 rounded-md lg:py-3 pl-9 placeholder:text-shade-400"
                    x-ref="searchInput"
                    autocomplete="off"
                />

                <div class="absolute inset-y-0 left-0 flex items-center pl-3">
                    {{ partial:components/icon icon="magnifying-glass" classes="block leading-none! text-shade-600" }}
                </div>
            </div>
        </div>

        <template x-if="search">
            <div class="flex flex-col px-5 py-5 pt-0">
                <template x-if="results.length > 0">
                    <template x-for="item in results" :key="item.url">
                        <a
                            :href="item.url"
                            :title="item.title"
                            class="px-3 py-3 text-sm border-shade-200 rounded-lg hover:bg-shade-50"
                        >
                            <span
                                x-text="item.title"
                                class="font-medium"
                            ></span>
                            <span
                                x-text="item.url"
                                class="text-shade-500"
                            ></span>
                        </a>
                    </template>
                </template>

                <template x-if="search && results.length === 0">
                    <article class="prose-sm prose prose-shade">
                        <p>
                            {{ trans key='No results for' }}
                            <span x-text="search"></span>
                        </p>
                    </article>
                </template>
            </div>
        </template>
    </div>
</div>

<div
    class="fixed inset-0 z-40 bg-shade-700/30 backdrop-blur-xs"
    x-data
    x-cloak
    x-show="$store.searchOverlay.open"
    x-transition.opacity.duration.300ms
    @touchstart.prevent="$store.searchOverlay.open = false"
    @mousedown.prevent="$store.searchOverlay.open = false"
></div>
