{{ partial:components/frame }}
    <section class="container">
        <div class="max-w-2xl mb-12 lg:mb-14">
            {{ partial:typography/heading }}
            <div class="mt-6">
                {{ partial:components/rich_text :rich_text="text" }}
            </div>
        </div>
        <div
            class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8 lg:gap-10 mt-10 lg:mt-12"
        >
            {{ if show_all_items }}
                {{ collection:news }}
                    {{ partial:components/page_card }}
                {{ /collection:news }}
            {{ elseif news_items }}
                {{ news_items }}
                    {{ partial:components/page_card }}
                {{ /news_items }}
            {{ /if }}
        </div>
    </section>
{{ /partial:components/frame }}
