<!DOCTYPE html>
<html lang="{{ site:short_locale }}">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        {{ seo:meta }}
        <style>
            [x-cloak] {
                display: none !important;
            }
        </style>
        {{ vite src="resources/js/site.js|resources/css/site.css" }}
        {{ yield:header_scripts }}
        <link rel="preconnect" href="https://fonts.bunny.net" />
        <link
            href="https://fonts.bunny.net/css?family=inter:400,500,600,700"
            rel="stylesheet"
        />
    </head>
    <body
        x-data
        class="flex flex-col min-h-screen text-body font-sans"
        :class="$store.mobileMenu.open ? 'max-sm:overflow-hidden' : ''"
    >
        <a href="#main-content" class="sr-only focus:not-sr-only focus:absolute focus:top-4 focus:left-4 focus:z-50 focus:px-4 focus:py-2 focus:bg-primary focus:text-white focus:rounded-lg">
            {{ trans key="Skip to main content" }}
        </a>
        {{ partial:layout/header }}
        <main id="main-content" class="grow">
            {{ template_content }}
        </main>

        {{ partial:navigation/mobile }}
        {{ partial:components/search }}
        {{ partial:layout/footer }}
        {{ yield:footer_scripts }}
    </body>
</html>
