@import "tailwindcss";
@plugin '@tailwindcss/forms';

@import "altcha.css";

@theme {
    --breakpoint-xl: 82rem;
    --breakpoint-2xl: initial;

    --color-primary: var(--color-blue-600);
    --color-secondary: var(--color-green-600);
    --color-danger: var(--color-red-600);
    --color-body: var(--color-neutral-800);

    --color-shade-50: var(--color-neutral-50);
    --color-shade-100: var(--color-neutral-100);
    --color-shade-200: var(--color-neutral-200);
    --color-shade-300: var(--color-neutral-300);
    --color-shade-400: var(--color-neutral-400);
    --color-shade-500: var(--color-neutral-500);
    --color-shade-600: var(--color-neutral-600);
    --color-shade-700: var(--color-neutral-700);
    --color-shade-800: var(--color-neutral-800);
    --color-shade-900: var(--color-neutral-900);
    --color-shade-950: var(--color-neutral-950);

    --font-sans: "Inter", sans-serif;
}

@utility container {
    @apply mx-auto px-4;
}

/* Typography */
h1:not(.plain),
.h1:not(.plain) {
    @apply text-3xl md:text-4xl font-bold mb-4 lg:mb-6 last:mb-0 leading-snug;
}

h2:not(.plain),
.h2:not(.plain) {
    @apply text-xl lg:text-2xl font-semibold mb-2 last:mb-0 leading-snug;
}

h3:not(.plain),
.h3:not(.plain) {
    @apply text-lg lg:text-xl font-semibold mb-4 lg:mb-6 last:mb-0 leading-snug;
}

.editor p {
    @apply mb-6 md:mb-8 xl:mb-8 last:mb-0 leading-[1.8];
}

.editor ul {
    @apply list-disc list-outside ml-4 mb-6 flex flex-col gap-2;
}

.editor ul li p {
    @apply mb-0 inline;
}

.editor a {
    @apply underline underline-offset-2 hover:text-primary;
}

.editor p strong {
    @apply font-semibold;
}

.frame.bg-background + .frame.bg-background,
.frame.bg-shade-200 + .frame.bg-shade-200,
.frame:not([class*="bg-"]) + .frame:not([class*="bg-"]) {
    @apply !pt-0;
}

@media screen and (prefers-reduced-motion: no-preference) {
    @view-transition {
        navigation: auto;
    }

    ::view-transition-group(*) {
        animation-duration: 100ms;
    }
}
