<nav
    class="fixed flex flex-col inset-0 sm:left-2/4 sm:max-w-[600px] shadow-lg z-50 bg-white lg:hidden sm:rounded-l-2xl"
    x-data
    x-show="$store.mobileMenu.open"
    x-transition.opacity.duration.300ms
    x-cloak
>
    <header class="min-h-[72px] flex items-center justify-end pr-5">
        {{ partial:components/mobile_menu_toggle }}
    </header>
    <div class="flex flex-col h-full">
        <ul class="flex flex-col grow">
            {{ nav:main max_depth="2" include_home="false" select="title|url|children" }}
                <li
                    class="relative leading-none border-b border-gray-100 first:border-t"
                    {{ if children }}
                        x-data="{ subnavOpen: $root.querySelector('[aria-current=page]') ? true : false }"
                    {{ /if }}
                >
                    <a
                        class="flex justify-between px-5 py-4 font-medium text-md {{ is_current || is_parent ? 'text-primary' : 'text-shade-700' }}"
                        {{ if children }}
                            @click.prevent="subnavOpen = !subnavOpen"
                            :aria-expanded="subnavOpen"
                        {{ else }}
                            href="{{ url }}"
                        {{ /if }}
                        {{ is_current ?= 'aria-current="page"' }}
                    >
                        <span>{{ title }}</span>
                        {{ if children }}
                            <div
                                :class="{ 'scale-y-[-1]': subnavOpen }"
                                class="motion-safe:transition-transform"
                            >
                                {{ partial:components/icon icon="caret-down" }}
                            </div>
                        {{ /if }}
                    </a>
                    {{ if children }}
                        <ul
                            x-show="subnavOpen"
                            x-ref="subnav"
                            class="flex flex-col items-stretch gap-y-2"
                            x-collapse
                        >
                            {{ children }}
                                <li class="last:pb-4">
                                    <a
                                        class="block py-2 px-5 font-medium {{ is_current || is_parent ? 'text-primary' : 'text-shade-700' }}"
                                        href="{{ url }}"
                                        {{ is_current ?= 'aria-current="page"' }}
                                    >
                                        {{ title }}
                                    </a>
                                </li>
                            {{ /children }}
                        </ul>
                    {{ /if }}
                </li>
            {{ /nav:main }}
        </ul>

        <div class="p-4">
            {{ partial:components/button label="Vraag offerte aan" variant="primary" classes="w-full" }}
        </div>
    </div>
</nav>

{{ partial:components/overlay classes="lg:hidden hidden sm:block" }}
